.active {
    position: relative;

    &::before {
        content: "•";
        color: #74bf04;
        font-size: 1.2rem;
        margin-top: auto;
        right: 1rem;
        position: absolute;
        z-index: 50;
    }
}

// Pulse Point
$pulse-color: #00d86c;
$pulse-speed: 1s;

circle {
    fill: $pulse-color;
    transform-origin: center;
}

.pulse-circle,
.pulse-circle-2 {
    stroke: $pulse-color;
    stroke-width: 2px;
    fill: none;
    transform: translate3d(0, 0, 0);
}

.pulse-circle {
    animation: pulse $pulse-speed cubic-bezier(0.39, 0.54, 0.41, 1.5) infinite;
}

.pulse-circle-2 {
    animation: pulse-2 $pulse-speed cubic-bezier(0.39, 0.54, 0.41, 1.5) infinite;
}
@keyframes pulse {
    0% {
        r: 4;
    }
    50% {
        r: 16;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulse-2 {
    0% {
        r: 4;
    }
    50% {
        r: 4;
    }
    100% {
        r: 16;
    }
}

*::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #ffffff; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* color of the scroll thumb */
    border-radius: 8px; /* roundness of the scroll thumb */
    border: 1px solid #fff; /* creates padding around scroll thumb */
}

.dark {
    *::-webkit-scrollbar {
        width: 8px; /* width of the entire scrollbar */
    }

    *::-webkit-scrollbar-track {
        background: rgb(26, 35, 48); /* color of the tracking area */
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(55, 72, 97); /* color of the scroll thumb */
        border-radius: 8px; /* roundness of the scroll thumb */
        border: 1px solid #000; /* creates padding around scroll thumb */
    }
}
