.active {
    position: relative;

    &::before {
        content: "•";
        color: #74bf04;
        font-size: 1.2rem;
        margin-top: auto;
        right: 1rem;
        position: absolute;
        z-index: 50;
    }
}
